<template>
    <div class="home">
        <h1>Bienvenido</h1>
        <p>A Nuestro Inventario</p>
        <button class="go-main" @click="buttonGOMain">Entrar</button>
    </div>
</template>


<script>
export default {
    name: 'HomePage',

    data() {
        return {}
    },

    methods: {
        buttonGOMain() {
            this.$router.push('/main')
        },
    },
}
</script>

<style scoped>
button {
    border-style: none;
    margin: 5rem 8rem;
    padding: 1rem;
    border-radius: 10px;
    background: #e1ecf2;
    box-shadow: 6px 6px 11px #c8d2d7, -6px -6px 11px #faffff;
    cursor: pointer;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
}

.go-main {
  color: #2c3e50;
  font-size: 40px;
  padding: 0px 0.3rem;
}

.home {
  color: #EAB3AB;
  font-size: 40px;
  padding: 0px 0.3rem;
  font-weight: bold;
}
button:focus {
  outline: none;
}

@media all and (max-width: 601px) {
  .home {
   margin: 1rem 1rem;
    padding: 1rem;
  }
  

  
}


</style>