<template>
  <div class="main">
    <h1>¿Qué desea Hacer?</h1>

    <button class="go-entry button" @click="GoEntryButton">Entradas de Productos</button>
    <button class="go-out button" @click="GoOutButton">Salidas de Productos</button>
    <button class="go-product button" @click="GoProductsButton">Ver Lista de Productos</button>
    <p><button class="exit-main button" @click="GoExitMainButton">Volver</button></p>
  </div>
</template>

<script>
export default {
  name: "MainPage",

  data() {
    return {};
  },

 

  methods: {
    GoEntryButton() {
      this.$router.push("/inputs");
    },

    GoOutButton() {
      this.$router.push("/outputs");
    },

    GoProductsButton() {
      this.$router.push("/products");
    },

    GoExitMainButton() {
      this.$router.push("/home");
    }
  }
};
</script>

<style scoped>

.main {
  color: #EAB3AB;
  font-size: 40px;
  padding: 0px 0.3rem;
  font-weight: bold;
}

button {
    border-style: none;
    margin: 3rem 4rem;
    padding: 1rem;
    border-radius: 10px;
    background: #e1ecf2;
    box-shadow: 6px 6px 11px #c8d2d7, -6px -6px 11px #faffff;
    cursor: pointer;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    
}

.button {
   color: #2c3e50;
  font-size: 40px;
  padding: 0px 0.3rem;
}
button:focus {
  outline: none;
}



@media all and (max-width: 601px) {
  .main {
   margin: 1rem 1rem;
    padding: 1rem;
  }
  

  
}
</style>