<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
  
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Playfair+Display:ital,wght@0,700;1,669&display=swap" rel="stylesheet">
    
    
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    
    <title>OSI:INVENTARIO DE SUMINISTROS DE OFICINA</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>

<style>
body{
 
  margin: 0;
  padding: 0;
 
 
  background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://farm9.staticflickr.com/8088/8363737128_b76782c7a2_b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

</style>
 