<template>
    <div class="products-list-page">
        <h1>LISTA DE PRODUCTOS</h1>
       <!-- <div v-if="listOfProduct.length === 0">
            <h3>Lista de productos vacía.</h3>
        </div>-->
        <div class="search-to-from">
             <SearchNameComponent
                class="products-search-name"
                :searchedByProduct="searchedByProduct"
                @input-search-event="inputSearch"
                @button-search-event="buttonSearch"
                @button-refresh-event="buttonRefresh"
            />
        </div>

        <div class="products-item-list">
           <ProductList
                class="products-list"
                :listOfProductz="listOfProduct"
               
              
                @delete-product-event="deleteProduct"
            />
        </div>
    </div>
</template>

<script>
import ProductList from './ProductList.vue'
import SearchNameComponent from './SearchNameComponent.vue'

export default {
    name: 'ProductListPage',
    components: {
        ProductList,
        SearchNameComponent,
    },

    /*props: {
        listOfproduct: { type: Array, required: true },
    },
    */

    data() {
        return {
            baseURL: 'http://localhost:8080/api/products',
            completeURL: '',
            url: '/api/products' /*consulta todos los movimientos*/,
            urlSearchName: '/api/search_product/' /*consulta entre fechas*/,
            listOfProduct: [],
            list: false,
            /*product: {},*/
            productId: 0,
            nameSearchd: null,
           
        }
    },

    mounted: function() {
        this.loadProductsList()
    },
    methods: {


        /*carga de lista*/
        async loadProductsList() {
            this.list = true
            this.listOfProduct = await this.generateProductsListData()
        },
        async generateProductsListData() {
            const result = await fetch(this.baseURL)
            return await result.json()
        },

        /*Buscar por nombre*/
       
        async apiSearchProducts(searchedByProduct) {
            const result = await fetch(this.urlSearchName + searchedByProduct);
            return await result.json();
            },

        async searchContact(searchedByProduct) {
        if (searchedByProduct) {
            this.listOfProduct = await this.apiSearchProducts(searchedByProduct);
        } else {
            this.loadProductsList();
            }

            /* else if (searchedByProduct===null) {this.listOfProduct = await this.generateProductsListData();}*/
            },

        async buttonSearch(searchedByProduct) {
            this.listOfProduct = await this.apiSearchProducts(searchedByProduct)
        },

         async inputSearch(searchedByProduct) {
            this.buttonSearch(searchedByProduct)
        },

        async buttonRefresh() {
            this.listOfProduct = await this.generateProductsListData()
          
        },

         

        

        /*eliminar de lista*/

        async deleteProduct(id) {
            this.productId = id
            this.completeURL = this.baseURL + '/' + this.productId
            await this.deleteFromList()
            await this.loadProductsList()
            /*this.screenState = "contactListState";*/
        },
        async deleteFromList() {
            await fetch(this.completeURL, {
                method: 'DELETE',
            }).then(response => response.json())
        },

        

       
    },
}
</script>
<style scoped>

.products-list-page {
  display: inline-block;
  justify-content: space-around;

  color: #EAB3AB;
  font-size: 40px;  
  font-weight: bold;
}




</style>