<template>
    <div class="product-item">
        <div class="name-div">
            <a @click="seeProduct" class="full-name">{{ fullProduct }}</a>
            <p>
            <a @click="editProduct" id="edit"><img src="@/assets/edit.png" alt /></a>
            <a @click="deleteProduct" id="delete"><img src="@/assets/delete.png" alt /></a></p>
        </div>
    </div>
</template>

<script>
/* componente productItem */
export default {
    name: 'ProductItem',
    props: {
        product: {
            /*type: Object,*/
            propType: Object,
            required: true,
        },
    },

    methods: {
        
        deleteProduct() {
            this.$emit('delete-product-event', this.product.id)
        },
        seeProduct() {
            this.$router.push('/details/' + this.product.id)
        },
        editProduct() {

            this.$router.push('/details/' + this.product.id)
            /*this.$emit('edit-product-event', this.product.id)*/
        },
    },
    computed: {
        fullProduct: function() {
            return `${this.product.name} ${this.product.quanty} ${this.product.category} ${this.product.type} ${this.product.date}`
        },
    },
}
</script>



<style scoped>

a {
    /* color: #ffffff; */
    cursor: pointer;
    margin-right: 2rem;
    text-align: right;
}
img {
    width: 30px;
    cursor: pointer;
}
.name-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.full-name {
    text-align: left;
    float: left;
}

@media all and (max-width: 601px) {
  .product-item {
   margin: 1rem 1rem;
   
  }
;
  }

  

</style>