<template>
    <div class="product-list">
        <div v-for="(product, index) in listOfProductz" :key="index" class="product-item-vfor">
            <ProductItem
                class="product-item"
                :product="product"
                :index="index"
                @delete-product-event="deleteProduct"
             
            />
        </div>
    </div>
</template>

<script>
import ProductItem from './ProductItem.vue'

export default {
    name: 'ProductList',
    components: {
        ProductItem,
    },

    props: {
        listOfProductz: { type: Array, required: true },
    },

    data() {
        return {}
    },

   methods: {
        /*funciones de los botones*/
        deleteProduct(receivedId) {
            this.$emit('delete-product-event', receivedId)
        },
    },
}
</script>

<style scoped>

#product-list {
  display: flex;
  flex-direction: column;
}

.product-item-vfor {
  position: initial;
  top: 86vh;
  left: 80vw;
  padding: 0rem 1rem;
  margin: 2rem 1rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #15a7d2, #19c7f9);
  box-shadow: 5px 5px 17px #16b4e2, -5px -5px 17px #18c0f0;
  color: white;
  font-size: 31px;
  font-weight: 600;
  border-style: none;
}

.product-item-vfor:focus,
input:focus {
  outline: none;
}
button {
    border-style: none;
    margin: 5rem 8rem;
    padding: 1rem;
    border-radius: 10px;
    background: #e1ecf2;
    box-shadow: 6px 6px 11px #c8d2d7, -6px -6px 11px #faffff;
    cursor: pointer;
}
@media all and (max-width: 601px) {
  .product-list {
   margin: 1rem 1rem;
    padding: 1rem;
  }
  

  
}
</style>
