<template>
    <div class="search-name-component">
        <div class="search-name">
            <input type="text" required="required" @input="searchProduct" placeholder="Producto a Buscar..." class="search-product" id="search-product" v-model="searchedByProduct"/>
        </div>

        <div class="box-button">
        <p><button class="button-search button" @click="buttonSearch">Buscar</button></p>
        <p><button class="button-refresh button" @click="buttonRefresh">Volver a ver todo</button></p>
        <p><button class="button-back button" @click="buttonBack">Atrás</button></p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'SearchNameComponent',

    data() {
        return {

            searchedByProduct: null
            
        }
    },

    methods: {
        /*funciones de los botones*/

         searchProduct() {
            this.$emit('button-search-event', this.searchedByProduct)
        },

        
        buttonSearch() {
            this.$emit('button-search-event', this.searchedByProduct)
        },

        buttonRefresh() {
            this.$emit('button-refresh-event')
             this.refresh()
        },

        refresh() {
            this.searchedByProduct= null
            
        },

        buttonBack() {
            this.$router.push('/main')
        },
    },
}
</script>

<style scoped>

input {
  padding: 0.5rem;
  border-style: none;
  border-radius: 10px;
  color: #1B253B;;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Amatic SC', sans-serif;
  /*margin-right: 15%;*/
}
input:focus {
  outline: none;
}

button {
    border-style: none;
    margin: 1rem 1rem;
    padding: 1rem;
    border-radius: 10px;
    background: #e1ecf2;
    box-shadow: 6px 6px 11px #c8d2d7, -6px -6px 11px #faffff;
    cursor: pointer;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    
    
}

.button {
   color: #2c3e50;
  font-size: 40px;
  padding: 0px 0.3rem;
}
button:focus {
  outline: none;
}

@media all and (max-width: 1001px) {
  .search-name-component {
    margin: 1rem 1rem;
  ;
  }
  
}
</style>