<template>
  <div id="form-entry">
    <h1>CATEGORIA</h1>
    <select v-model="entry.category" class="category-input">
      <option disabled value="null">Indique la Categoria</option>
      <option v-for="(category, index) in categories" v-bind:key="index">
        <h1>{{ category }}</h1>
      </option>
    </select>

    <h1>PRODUCTO</h1>

    <select v-if="entry.category === null" v-model="entry.name" class="name-input">
      <option disabled value="null">Seleccione un elemento</option>
    </select>

    <select
      v-if="entry.category === 'Artículos de papelería'"
      v-model="entry.name"
      class="name-input"
    >
      <option disabled value="null">Seleccione un elemento</option>
      <option v-for="(namea, index) in namesa" v-bind:key="index">
        <h1>{{ namea }}</h1>
      </option>
    </select>

    <select v-if="entry.category === 'Cuadernos y blocks'" v-model="entry.name" class="name-input">
      <option v-for="(nameb, index) in namesb" v-bind:key="index">
        <h1>{{ nameb }}</h1>
      </option>
    </select>

    <select
      v-if="entry.category === 'Accesorios de escritorio'"
      v-model="entry.name"
      class="name-input"
    >
      <option v-for="(namec, index) in namesc" v-bind:key="index">
        <h1>{{ namec}}</h1>
      </option>
    </select>

    <select v-if="entry.category === 'Tintas y tóner'" v-model="entry.name" class="name-input">
      <option v-for="(named, index) in namesd" v-bind:key="index">
        <h1>{{ named }}</h1>
      </option>
    </select>

    <select
      v-if="entry.category === 'Consumibles de cómputo'"
      v-model="entry.name"
      class="name-input"
    >
      <option v-for="(namee, index) in namese" v-bind:key="index">
        <h1>{{ namee }}</h1>
      </option>
    </select>

    <h1>FECHA</h1>
    <input type="date" class="date" v-model="entry.date" placeholder="Indique la fecha" />
    <h1>CANTIDAD</h1>
    <input
      type="number"
      min="1"
      pattern="^[0-9]+"
      class="quanty"
      v-model="entry.quanty"
      placeholder="Indique la cantidad"
    />
    <h1>OBSERVACIONES</h1>
    <input
      type="text"
      class="observations"
      v-model="entry.observations"
      placeholder="Indique alguna observación"
    />

    <p>
      <button class="add-entry button" @click="uploadNewEntry">AÑADIR</button>
    </p>

    <p>
      <button class="exit-entry button " @click="buttonExitEntry">SALIR</button>
    </p>
  </div>
</template>

<script>
export default {
  name: "InComponent",
  components: {},
  props: {
    categories: {
      propType: Array,
          },
    namesa: {
      propType: Array,
          },

    namesb: {
      propType: Array,
         },

    namesc: {
      propType: Array,
          },

    namesd: {
      propType: Array,
          },

    namese: {
      propType: Array,
          }
  },
  data() {
    return {
      entry: {
        namea: null,
        nameb: null,
        namec: null,
        named: null,
        namee: null,
        date: null,
        category: null,
        quanty: null,
        observations: ""
        //date_create: new Date().toLocaleString(),
      }
    };
  },

  methods: {
    async uploadNewEntry() {
      {
        await this.$emit("upload-new-entry", this.entry);
      }
      this.buttonExitEntry();
    },

    buttonExitEntry() {
      this.$emit("button-exit-entry");
    }
  }
};
</script>

<style scoped>
/*#form-entry {
  display: flex;
  flex-direction: row;
  justify-content: center;
}*/
button {
    border-style: none;
    margin: 5rem 8rem;
    padding: 1rem;
    border-radius: 10px;
    background: #e1ecf2;
    box-shadow: 6px 6px 11px #c8d2d7, -6px -6px 11px #faffff;
    cursor: pointer;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
}

.button {
  color: #2c3e50;
  font-size: 40px;
  padding: 0px 0.3rem;
}

#form-entry {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  font-family: sans-serif;
  font-size: 11px;
  text-align: left;
  padding: 4em;
  letter-spacing: 1px;
  color: rgb(83, 83, 83);
  border-radius: 10px;
  background: #1B253B;
  box-shadow: 30px 30px 59px #315676, -30px -30px 59px #315676;
  margin: 0% 25rem;
}

 h1 {color: #EAB3AB;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Amatic SC', sans-serif;}

  input, option, select {color: #1B253B;;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Amatic SC', sans-serif;}


@media all and (max-width: 601px) {
  #form-entry {
   margin: 1rem 1rem;
    padding: 1rem;
  }
  input, option, select {
    font-size: 20px;
    padding: 0.5rem;
  }

  
}
</style>