<template>
  <div id="entry-page">
    <h1>Nueva Entrada</h1>

    <InComponent
      :categories="categories"
      :namesa="namesa"
      :namesb="namesb"
      :namesc="namesc"
      :namesd="namesd"
      :namese="namese"
      @upload-new-entry="uploadNewEntry"
      @button-exit-entry="exitEntry"
    />
  </div>
</template>

<script>
import InComponent from "./InComponent.vue";
import { v4 as uuidv4 } from "uuid";

export default {
  name: "InPage",
  components: {
    InComponent
  },
  props: {},
  data() {
    return {
      urlAddEntry: "/api/products/",
      categories: [
        "Artículos de papelería",
        "Cuadernos y blocks",
        "Accesorios de escritorio",
        "Tintas y tóner",
        "Consumibles de cómputo"
      ],
      namesa: [
        "Goma",
        "Sacapuntas",
        "Estuches para lápices",
        "Clips",
        "Pin",
        "Grapas",
        "Sujeta documentos",
        "Ligas de hule",
        "Portagafetes",
        "Calculadora"
      ],

      namesb: [
        "Cuadernos",
        "Block",
        "Tarjeta multiusus",
        "Libro florete",
        "Hojas de repuesto",
        "Cubiertas",
        "Engargoladoras",
        "Enmicadora",
        "Micas"
      ],

      namesc: [
        "Charolas portadocumento",
        "Engrapadoras",
        "Desengrapadoras",
        "Despachador de notas adhesivas",
        "Organizador de escritorio",
        "Base para calendario",
        "Perforadoras",
        "Portalápices",
        "Portaclips",
        "Revistero",
        "Notas adhesivas",
        "Cuenta fácil",
        "Carpetas folders"
      ],

      namesd: ["Cintas", "Cartuchos", "Cabezales", "Películas"],

      namese: [
        "Monitores",
        "All In One",
        "Computadoras de escritorio",
        "Laptops",
        "Tabletas",
        "Impresoras Multifuncional",
        "Escáner",
        "Copiadoras",
        "Pantallas",
        "TV",
        "Señalización digital",
        "Cargadores",
        "Estaciones de carga",
        "No breacks",
        "UPS",
        "Reguladores",
        "Supresores",
        "Regletas",
        "Multicontactos",
        "Cables",
        "Adaptadores",
        "Herramientas de red",
        "Teléfonos",
        "Accesorios para telefonía",
        "Conmutadores",
        "Frentes de portero",
        "DVD",
        "Blu Ray",
        "Pantallas de proyección",
        "Pizarrones interactivos",
        "Proyectores",
        "Kits de credencialización"
      ]
    };
  },

  methods: {
    async uploadNewEntry(entry) {
      await fetch(this.urlAddEntry, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          id: uuidv4(),
          type: "entry",
          quanty: entry.quanty,
          date: entry.date,
          category: entry.category,
          name: entry.name,
          observations: entry.observations
        })
      }).then(response => response.json());
    },

    exitEntry() {
      this.$router.push("/main");
    }
  }
};
</script>

<style scoped>
#entry-page {
  display: inline-block;
  justify-content: space-around;

  color: #EAB3AB;
  font-size: 40px;  
  font-weight: bold;
}

h1{  text-decoration: underline;}
</style>