<template>
  <div id="out-page">
    <h1>Nueva Salida</h1>

    <OutComponent
      :categories="categories"
      :namesa="namesa"
      :namesb="namesb"
      :namesc="namesc"
      :namesd="namesd"
      :namese="namese"
      @upload-new-out="uploadNewOut"
      @button-exit-out="exitOut"
    />
  </div>
</template>

<script>
import OutComponent from "./OutComponent.vue";
import { v4 as uuidv4 } from "uuid";

export default {
  name: "OutPage",
  components: {
    OutComponent
  },
  props: {},
  data() {
    return {
      urlAddOut: "/api/products/",
      categories: [
        /*SELECT * FROM names WHERE category="Artículos de papelería"   order by name asc */
        "Artículos de papelería",
        "Cuadernos y blocks",
        "Accesorios de escritorio",
        "Tintas y tóner",
        "Consumibles de cómputo"
      ],
      namesa: [
        "Goma",
        "Sacapuntas",
        "Estuches para lápices",
        "Clips",
        "Pin",
        "Grapas",
        "Sujeta documentos",
        "Ligas de hule",
        "Portagafetes",
        "Calculadora"
      ],

      namesb: [
        "Cuadernos",
        "Block",
        "Tarjeta multiusus",
        "Libro florete",
        "Hojas de repuesto",
        "Cubiertas",
        "Engargoladoras",
        "Enmicadora",
        "Micas"
      ],

      namesc: [
        "Charolas portadocumento",
        "Engrapadoras",
        "Desengrapadoras",
        "Despachador de notas adhesivas",
        "Organizador de escritorio",
        "Base para calendario",
        "Perforadoras",
        "Portalápices",
        "Portaclips",
        "Revistero",
        "Notas adhesivas",
        "Cuenta fácil",
        "Carpetas folders"
      ],

      namesd: ["Cintas", "Cartuchos", "Cabezales", "Películas"],

      namese: [
        "Monitores",
        "All In One",
        "Computadoras de escritorio",
        "Laptops",
        "Tabletas",
        "Impresoras Multifuncional",
        "Escáner",
        "Copiadoras",
        "Pantallas",
        "TV",
        "Señalización digital",
        "Cargadores",
        "Estaciones de carga",
        "No breacks",
        "UPS",
        "Reguladores",
        "Supresores",
        "Regletas",
        "Multicontactos",
        "Cables",
        "Adaptadores",
        "Herramientas de red",
        "Teléfonos",
        "Accesorios para telefonía",
        "Conmutadores",
        "Frentes de portero",
        "DVD",
        "Blu Ray",
        "Pantallas de proyección",
        "Pizarrones interactivos",
        "Proyectores",
        "Kits de credencialización"
      ]
    };
  },

  methods: {
    async uploadNewOut(out) {
      await fetch(this.urlAddOut, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          id: uuidv4(),
          type: "out",
          quanty: out.quanty,
          date: out.date,
          category: out.category,
          name: out.name,
          observations: out.observations
        })
      }).then(response => response.json());
    },
    exitOut() {
      this.$router.push("/main");
    }
  }
};
</script>

<style scoped>
#out-page {
  display: inline-block;
  justify-content: space-around;

  color: #EAB3AB;
  font-size: 40px;  
  font-weight: bold;
  
}
h1{  text-decoration: underline;}
</style>