<template>
    <div id="product-details-page">
        <h1>PRODUCTO:{{productDetail.name}}</h1>
        <ProductDetails
        :stock= "stock"
        :productDetail="productDetail"
        />

        
        
    </div>
</template>

<script>
import ProductDetails from '@/components/Details/ProductDetails.vue'


export default {
    name: 'ProductDetailsPage',
    components: {
        ProductDetails,
      
    },

    data() {
        return {
            baseURL: 'http://localhost:8080/api/products',
            movementIdSelect: '',
            completeURL: '',
            movementDetail: {},
            productDetail: {},
            urlGetStock: 'http://localhost:8080/api/products/get_stock',
            stock: '',

           
        }
    },
    mounted: async function() {
        this.movementIdSelect= this.$route.params.theProductId
        await this.loadMovementsDetails()
        await this.loadStock()
    },

    methods: {

         async loadStock() {
            const result = await fetch(this.urlGetStock + '/' + this.productDetail.name)
            const resultJson = await await result.json()
            this.stock = resultJson.numberOfItems
        },
       
        

        /*see ver movimiento */


        async loadMovementsDetails() {
            this.completeURL = this.baseURL + '/' + this.movementIdSelect
            const result = await fetch(this.completeURL)
            this.productDetail = await result.json()
        },
    },
}
</script>
<style scoped>

#product-details-page {
  color: #EAB3AB;
  font-size: 40px;
  padding: 0px 0.3rem;
  font-weight: bold;
}

</style>
