<template>
    <div id="product-edit">
        <div class="inputs-box">
         
            <p>
                CANTIDAD
                <input
                    type="number"
                    min="1"
                    pattern="^[0-9]+"
                    class="amount"
                    v-model="localProductDetail.amount"
                />
            </p>

            <P>
                FECHA
                <input
                    type="date"
                    class="date"
                    v-model="localProductDetail.date"
                />
            </P>
           

            <p>
                DESCRIPCIÓN
                <input
                    type="text"
                    class="description"
                    v-model="localProductDetail.description"
                />
            </p>
        </div>
        <div class="buttonsBox">
            <button @click="editChangesDetails" class="btn-edit"  id="btn-edit">Guardar</button>
         
            <button class="btn-back-view" @click="backClickDetails">Atras</button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ProductEdit',
    components: {},
    props: {
        productDetail: { objecttype: Object, required: true },
            
    },

    data() {
        return {
            localProductDetail: {
                id: null,
                amount: null,
                type: null,
                date: null,
                description: null,
                category: null,
            },
        }
    },

    watch: {
        productDetail: {
            //Objeto a usar
            immediate: true,
            handler: function(productDetail) {
                this.localProductDetail = JSON.parse(
                    JSON.stringify(productDetail)
                )
            },
        },
    },

    methods: {
        editChangesDetails() {
            this.$emit('edit-changes-product-event', this.localProductDetail)
        },

        backClickDetails() {
            this.$router.push('/products')
        },

       
    },
}
</script>

<style scoped></style>