<template>
  <div id="product-details">
    <div id="details-box">
      
      <span class="span-stock">Stock real : <u>{{this.stock}}</u></span>
      <span class="span-name">Producto :<b>{{ productDetail.name }}</b></span>
      <span class="span-type">Tipo :<b>{{ productDetail.type }}</b></span>
      <span class="span-quanty">Cantidad Registrada :<b>{{ productDetail.quanty }}</b></span>
      <span class="span-date">Fecha :<b>{{ productDetail.date }}</b></span>
      <span class="span-category">Categoria :<b>{{ productDetail.category }}</b></span>
      <span class="span-observations">Observaciones: <b>{{ productDetail.observations }}</b></span>
      <span class="span-dateaudit">Fecha real de gestión :<b>{{ productDetail.dateaudit }}</b></span>
    </div>
    <div id="buttonsBox">
      <button @click="goBack" class="cancel button">Volver</button>
    
    </div>
  
  </div>
</template>

<script>


export default {
  name: "ProductDetails",
  components: {
  
  },
  props: {
    productDetail: { objecttype: Object, required: true },
    
    stock:{ objecttype: String, },

   
  },
  data() {
    return {
      productId: this.productDetail.id
    };
  },
  methods: {
       
    goBack() {
      this.$router.push('/products');
    }
  }
};
</script>

<style scoped>

button {
    border-style: none;
    margin: 5rem 8rem;
    padding: 1rem;
    border-radius: 10px;
    background: #e1ecf2;
    box-shadow: 6px 6px 11px #c8d2d7, -6px -6px 11px #faffff;
    cursor: pointer;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;}

  

.button {
  color: #2c3e50;
  font-size: 40px;
  padding: 0px 0.3rem;
}
#product-detailss {
  margin: 4vh 0rem;
  display: flex;
  flex-direction: column;
}
/*#buttonsBox {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}*/
#details-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin: 1rem 25rem;
  padding: 1rem;
  border-radius: 10px;
  background: #e1ecf2;
  box-shadow: 14px 14px 38px #315676, -14px -14px 38px #315676;
  font-size: 18px;
  color: rgb(83, 83, 83);
  font-weight: 600;
}
span {
  margin: 1rem 0rem 1rem 2rem;
  font-size: 35px;
  font-weight: bold;
 }
u {
  
  font-size: 50px;
 font-weight: bold;
  color:#BA3028;
  text-decoration: underline;
}

b {
  
  font-size: 30px;
   text-decoration: none;
 
}




@media all and (max-width: 601px) {
  #details-box {
    margin: 0.5rem 2rem;
    padding: 0.5rem;
    font-size: 12px;
  }
  
}

@media all and (max-width: 1001px) {
  #details-box {
    margin: 0.5rem 2rem;
    padding: 0.5rem;
    font-size: 12px;
  }
  
}
</style>

