<template>
  <div id="app">
    
     <!-- <div id="logo">
                <img src="@/assets/OSILAR.png" class="logo" alt="logo">
            </div>
      <h1>OSI:INVENTARIO DE SUMINISTROS DE OFICINA</h1>-->
      <header class='hero'>
        <div class="hero-one"></div>
        <div class="hero-two"></div>
        <h1 class="header-title"><span class="header-primary">OSI</span><span class="header-sub">INVENTARIO DE SUMINISTROS DE OFICINA</span></h1>
      </header>

    
   
    <section id_= router>
    <!--<router-link to="/home">Pagina Bienvenida</router-link>| |
    <router-link to="/main">Pagina Selección</router-link>| |
    <router-link to="/inputs">Pagina Entradas</router-link>| |
    <router-link to="/outputs">Pagina Salidas</router-link>| |
    <router-link to="/products">Pagina Lista de Productos</router-link>| |-->
    <router-view></router-view>
    </section>
    
    <footer id="main-footer" class="footer">
      <center>
        <div class="container">

          <div class="social-networks">  <p>        
            <a href="https://twitter.com/CESAR_OMOOCHOSI" target="_blank"><i class="fab fa-twitter-square fa-4x"></i></a>           
            <a href="https://www.linkedin.com/in/cesar-orlando-garcia-906b53116" target="_blank"><i class="fab fa-linkedin fa-4x"></i></a>
            </p></div>
          
          <div class="copyright">
            <p>Copyright &copy; 2020, Office Supply Inventory, Todos los derechos reservados</p>
          </div>
        </div>

      </center>
    </footer>      


    
  </div>


  
</template>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {     
      listOfProduct: []
    };
  },

  mounted: function() {
    this.onLoadingPage();
  },

  methods: {
    botonGOMain() {
      this.$router.push("/main");
    },

    onLoadingPage() {
     
      this.$router.push("/home");
    }
  }
};
</script>

<style>
#app {
 
  font-family: 'Amatic SC', sans-serif;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#logo {
    width: 150px;
    margin-top: -10px;
  }

 * {
  margin: 0;
  padding: 0;
 
}

.hero {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #CCC;
  position: relative;
  text-transform: uppercase;
  font-family: 'Amatic SC', sans-serif;
  letter-spacing: 17.5px;
  border:1px solid #315676;
}

.hero-one {
  top: 0;
  position: absolute;
  width: 60%;
  background-color: black;
  height: 100vh;
  clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
  z-index: 1;
  background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(https://source.unsplash.com/lfyKGQWEbew);
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  background-color: green;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(https://source.unsplash.com/PRne5FNBRmk);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-primary {
  font-size: 4em;
  display: block;
  font-weight: 700;
}
/* footer */
#main-footer{
   
    background: black;
    border-top:1px solid #315676;
}


 .social-networks {
    text-align: center;
    color: #315676;
  }
  
   .social-networks a {
    color:#5F8781;
    margin: 1rem 1rem;
    
   
  }

  @media all and (max-width: 601px) {
  #main-footer {
    margin: 1rem 1rem;
    padding: 1rem;
  }

  
 

  
}

  </style>
